In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import stats
import warnings
warnings.filterwarnings('ignore')

# Q1) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [118]:
df=pd.read_csv('E:\\EXCELR\\Data science assignment\\3) Hypothesis Testing\\Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [119]:
df.describe()  # hence here the mean is approx same of both unit so we can procced with inpendent t test

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [122]:
Unit_A=df['Unit A'].tolist()
Unit_A
Unit_B=df['Unit B'].tolist()
Unit_B

[6.7703,
 7.5093,
 6.73,
 6.7878,
 7.1522,
 6.811,
 7.2212,
 6.6606,
 7.2402,
 7.0503,
 6.881,
 7.4059,
 6.7652,
 6.038,
 7.1581,
 7.024,
 6.6672,
 7.4314,
 7.307,
 6.7478,
 6.8889,
 7.422,
 6.5217,
 7.1688,
 6.7594,
 6.9399,
 7.0133,
 6.9182,
 6.3346,
 7.5459,
 7.0992,
 7.118,
 6.6965,
 6.578,
 7.3875]

In [16]:
# Null hypothesis= There is no difference between the diameter of two cutlets.
# Alternate hypothesis = There is difeerence between the diameter of two cutlets.

In [46]:
# Doing T_test
t_statistics,p_value=stats.ttest_ind(Unit_A,Unit_B) 
print("t_statistics=",round(t_statistics,2))
print("p_value=",round(p_value,2))
if p_value>0.05:
    print("Accept Null hypothesis")
else:
    print("Reject Null hypothesis");

t_statistics= 0.72
p_value= 0.47
Accept Null hypothesis

In [47]:
# Hence, Trough t test we oberve that the sample accept null hypothesis so the there is no difference betwen the diameter of two cutlets.

# Q2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [59]:
df=pd.read_csv('E:\\EXCELR\\Data science assignment\\3) Hypothesis Testing\\LabTAT.csv')
df.head()

     Lab1    Lab2    Lab3    Lab4
0  185.35  165.53  176.70  166.13
1  170.49  185.91  198.45  160.79
2  192.77  194.92  201.23  185.18
3  177.33  183.00  199.61  176.42
4  193.41  169.57  204.63  152.60

In [63]:
Lab_1 = df['Lab1'].tolist()
Lab_2 = df['Lab2'].tolist()
Lab_3 = df['Lab3'].tolist()
Lab_4 = df['Lab4'].tolist()

In [60]:
# there is more than 2 samples so we can use Anova test
# Null hypothesis = The mean of all TAT are equal
# alternate hypothesis = Any individual sample mean are unequal

In [73]:
from scipy.stats import f_oneway
stats,p_value = f_oneway(Lab_1,Lab_2,Lab_3,Lab_4)
print("p_value=",p_value)
print("stats=",stats)
if p_value>0.05:
    print("Accept Null hypothesis")
else:
    print("Reject null hypothesis")

p_value= 2.1156708949992414e-57
stats= 118.70421654401437
Reject null hypothesis

In [74]:
# Here the Anova test reject null hypothesis it means that one or more mean of TAT of given sample are unequal.

# Q3

In [76]:
df=pd.read_csv('E:\\EXCELR\\Data science assignment\\3) Hypothesis Testing\\BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [88]:
samples=np.array([[50,142,131,70],[435,1523,1356,750]])
samples  
# samples is used for giving chi2_contingency a value in (Row * column), but there is categorical data also in "df" so we cannot gi ve "df" as array.

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [80]:
# chi square test, beacuse we want to find relation between samples.
# null hypothesis = male-female buyer ratio is similar in all regio(no relation between region and gender)
# alternate hypothesis = male-female buyer ratio isn't similar in all region(relation between gender and region)

In [93]:
from scipy.stats import chi2_contingency
stats,p_value,dof,expected = chi2_contingency(samples)
print("p_value=",round(p_value,3))
if p_value>0.05:
      print("Accept null hypothesis")
else :
      print("reject null hypothesis")

p_value= 0.66
Accept null hypothesis

In [94]:
# here the chi square test accept null hypothesis it indicates that male-female buyer ratio is same acroos all region(no relation between region and gender.)

# Q4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [101]:
df=pd.read_csv('E:\\EXCELR\\Data science assignment\\3) Hypothesis Testing\\Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [102]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [103]:
df['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [105]:
df['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [106]:
df['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [110]:
# null hypothesis = There is no relationship between defective% and centre.
# alternate hypothesis = There is relationship between defective%  and center.

In [108]:
samples=np.array([[271,267,269,280],[29,33,31,20]])
samples 
# the data is categorical so we take as a count and in the form of rows and column.

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [109]:
from scipy.stats import chi2_contingency
stats,p_value,dof,expected= chi2_contingency(samples)
print("p_value=",round(p_value,3))
if p_value>0.05:
    print("Accept null hypothesis")
else:
    print("Reject null hypothesis")

p_value= 0.277
Accept null hypothesis

In [111]:
# hence we conclude that the p value is > than 0.05 and accept null hypothesis so there is no relationship between defective% and centre.